<% if @challenges.exists? %>
  <% @challenges.each_with_index do |challenge, index| %>
    <%= link_to new_course_challenge_answer_path(@course.id, challenge.id), class: 'list-group-item' do %>
          <%= challenge.question %>
          <span class="pull-right">Due today</span>
    <% end %>
  <% end %>
<% end %>